body{
    cursor: default;
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6496FF;
}

.navbar__logo{
    color: white;
    font-size: xx-large;

}

.navbar__menu{
    display: flex;
    margin: 20px;
    list-style: none;
}
.navbar__menu__item{
    margin: 0 5px;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
}

/* .navbar__menu__item.active{
    border: 1px solid white;
    border-radius: 3px;
} */

.navbar__menu__item:hover{
    border: 1px solid white;
    border-radius: 8px;
}


/* HOME */
#home{
    background: url('imgs/home.png');
    text-align: center;
    padding: 40px;
    color: white;
}

.home__avartar{
    border-radius: 50%;
}

.home__contact{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.home__contact:hover{
    color: red;
    transform: scale(1.5);
}